<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="robots" content="index,follow" />
	<meta name="author" content="Karel Borghs" />
	<meta name="distribution" content="global" />
	<meta name="description" content="Villa Flos Campi biedt de ideale oplossing voor verblijf in een luxueuze omgeving nabij Leuven." />
	<meta name="keywords" content="villa, flos, campi, flos-campi, flos-kampi, kamer, kamers, leuven, kot, verblijf, heverlee, KUL, universiteit, K.U.L., KULeuven" />

	<title>Villa Flos Campi - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="horizontal_column"></td>
    <td class="linkcontainer">
    
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="linken">
          <tr>
            <td style="width:200px"><div class="navigation"><a href="/" class="main_link">Home</a></div></td>
            <td style="width:200px"><div class="navigation"><a href="/voorzieningen.html" class="main_link">Voorzieningen</a></div></td>
            <td style="width:200px"><div class="navigation"><a href="/ligging.html" class="main_link">Ligging</a></div></td>
            <td style="width:200px"><div class="navigation"><a href="/contact.html" class="main_link">Contact</a></div></td>
          </tr>
        </table>
                
	</td>
    <td class="horizontal_column">&nbsp;</td>
  </tr>
  
  
  <tr>
    <td class="shadow_left">&nbsp;</td>
    <td class="body">
    	
        <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="body_content">
        	{{ content }}
		</td></tr></table>

    </td>
    <td class="shadow_right">&nbsp;</td>
  </tr>
  
  <tr>
    <td class="shadow_left">&nbsp;</td>
    <td class="footer">
       &copy; 2006 - 2012 Lou Van Cleynenbreughel
    </td>
    <td class="shadow_right">&nbsp;</td>
  </tr>
</table>
</body>
</html>
